<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../assets/logo.png" alt="" height="50px">
  <!-- <span>St Annes School</span> -->
  <span class="example-spacer"></span>
  <div class="d-flex" style="margin-right: 20px;">
    <a style="color: #fff;">About Us</a>
    <a style="color: #fff;margin-left: 10px;">Admissions</a>
    <a style="color: #fff;margin-left: 10px;">Academics</a>
    <a style="color: #fff;margin-left: 10px;">Campus Life</a>
  </div>
  <span style="font-size: medium;">Logout</span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
<div class="m-4">
<!-- Filter 1: Primary or Secondary -->
<form [formGroup]="selectForm" class="d-flex justify-center"> 
  <mat-icon class="icon-size">filter_alt</mat-icon>
  <mat-form-field class="form-field">
    <mat-label>Primary or Secondary:</mat-label>
    <mat-select formControlName="selectedType" (selectionChange)="onTypeChange()">
      <mat-option *ngFor="let types of primarySecondary" [value]="types.value">{{types.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="selectForm.get('selectedType')?.hasError('required')">Field is required</mat-error>
  </mat-form-field>

  <!-- Filter 2: Year Number -->
  <mat-form-field class="form-field">
    <mat-label>Year</mat-label>
    <mat-select formControlName="selectedYear" (selectionChange)="onYearChange()">
      <mat-option *ngFor="let year of filteredYears" [value]="year.value">{{year.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="selectForm.get('selectedYear')?.hasError('required')">Field is required</mat-error>
  </mat-form-field>

  <!-- Filter 3: List of classes for each year -->
  <mat-form-field class="form-field">
    <mat-label>Classes</mat-label>
    <mat-select formControlName="selectedClass" (selectionChange)="onClassChange()">
      <mat-option *ngFor="let class of filteredClass" [value]="class.class_name">{{class.class_name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="selectForm.get('selectedClass')?.hasError('required')">Field is required</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary"  style="margin-left: 20px;" [disabled]="!isFormValid" (click)="onSubmit()">Submit</button>
</form> 

<div *ngIf="displayTable">
  <button mat-raised-button color="accent" class="text-end m-3" (click)="addStudent()">Add Student</button>
  <!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field> -->
  
  <table mat-table [dataSource]="dataSource" [formGroup]="editForm" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i= index">{{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="!element.editMode">
          <img [src]="element.image" alt="Image" style="height: 30px; width:30px;"/>  
        </ng-container>
        <ng-container *ngIf="element.editMode">
          <input  (change)="onFileSelected($event)" accept="image/*" formControlName="image" />  
        </ng-container>
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="!element.editMode">{{element.name}}</ng-container>
        <input *ngIf="element.editMode" formControlName="name" />  
      </td>
    </ng-container>
  
    <!-- Roll No Column -->
    <ng-container matColumnDef="rollno">
      <th mat-header-cell *matHeaderCellDef> Rool No </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="!element.editMode">{{element.roll_no}}</ng-container>
        <input *ngIf="element.editMode" formControlName="roll_no" />  
      </td>
    </ng-container>
  
    <!-- class Column -->
    <ng-container matColumnDef="classname">
      <th mat-header-cell *matHeaderCellDef> Class </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="!element.editMode">{{element.class_name}}</ng-container>
        <input *ngIf="element.editMode" formControlName="class_name" />  
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="!element.editMode">{{element.year}}</ng-container>
        <input *ngIf="element.editMode" formControlName="year" />  
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.editMode">
        <button mat-icon-button (click)="viewStudent(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editStudent(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteStudent(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="element.editMode">
        <button mat-icon-button (click)="saveChanges(element)">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)="cancelEditMode(element)">
          <mat-icon>cancel</mat-icon>
        </button>
      </ng-container>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</div>
 
  
  
  

  