<form [formGroup]="studentForm" class="text-center p-3">
    <h2>Add Student</h2>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Full Name" formControlName="name">
        <mat-error *ngIf="studentForm.get('name')?.hasError('required')">Enter Name</mat-error>
        </mat-form-field>
        <mat-form-field>
              <input type="text" matInput placeholder="Father Name" formControlName="fatherName">
        <mat-error *ngIf="studentForm.get('fatherName')?.hasError('required')">Enter Father Name</mat-error>
        </mat-form-field>
    </div>
    
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Class" formControlName="class_name">
        <mat-error *ngIf="studentForm.get('class_name')?.hasError('required')">Enter Class</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Roll Number" formControlName="roll_no">
        <mat-error *ngIf="studentForm.get('roll_no')?.hasError('required')">Enter Roll No</mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Year" formControlName="year">
        <mat-error *ngIf="studentForm.get('year')?.hasError('required')">Enter Year</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="tel" matInput placeholder="Contact Details" formControlName="mobile">
        <mat-error *ngIf="studentForm.get('mobile')?.hasError('required')">Enter Contact Details</mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Math Grade" formControlName="Math">
        <mat-error *ngIf="studentForm.get('Math')?.hasError('required')">Enter Grade</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Science Grade" formControlName="Science">
        <mat-error *ngIf="studentForm.get('Science')?.hasError('required')">Enter Grade</mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="English Grade" formControlName="English">
        <mat-error *ngIf="studentForm.get('English')?.hasError('required')">Enter Grade</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="History Grade" formControlName="History">
        <mat-error *ngIf="studentForm.get('History')?.hasError('required')">Enter Grade</mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <div >
            <input type="file" (change)="onFileSelected($event)" formControlName="image">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid" (click)="onAddStudent()">Add</button>
            <button mat-raised-button color="warn" type="submit" (click)="onCancel()">Cancel</button>
        </div>
    </div>  
</form>
  