<form [formGroup]="studentForm" class="text-center p-3">
    <h2>Add Student</h2>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Full Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
              <input type="text" matInput placeholder="Father Name" formControlName="fatherName">
        </mat-form-field>
    </div>
    
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Class" formControlName="class_name">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Roll Number" formControlName="roll_no">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Year" formControlName="year">
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Contact Details" formControlName="contactDetails">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="Math Grade" formControlName="Math">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Science Grade" formControlName="Science">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <input type="text" matInput placeholder="English Grade" formControlName="English">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="History Grade" formControlName="History">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
        <div >
            <input type="file" (change)="onFileSelected($event)" formControlName="image">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid" (click)="onAddStudent()">Add</button>
            <button mat-raised-button color="warn" type="submit" (click)="onCancel()">Cancel</button>
        </div>
    </div>  
</form>
  